/* Color */

/* Pimary */

$BrightRed: #f25f3a;
$DarkBlue: #242d52;

/* Neutral */

$DarkGrayishBlue: #9095a7;
$VeryDarkBlue: #1d1e25;
$VeryPaleRed: #ffefeb;
$VeryLightGray: #fafafa;


/* Typography */
$verySmallText : 1.4rem;
$smallText : 1.5rem;
$bigText: 2.8rem;


/* others */

$borderRadius: 2.1rem;